body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #e7d5c9;
    background-image: url('Images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: transparent;
    margin-left: 65px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 8.75rem;
    height: auto;
    margin-right: 0.625rem;
  }
  nav{
    margin-left: 360px;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 3.75rem;
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: 800;
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
    
    .logo {
      margin-bottom: 1.25rem;
    }
    
    nav ul {
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: #DAC0A7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-left: 50px;
  }
  
  .search-bar input {
    border: none;
    background-color: #DAC0A7;
    padding: 5px;
    width: 150px;
  }
  
  .search-icon {
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cart {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 17%;
  }
  
  .cart-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .notification {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-content {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .section-heading {
    font-size: 90px;
    margin-top: auto;
    margin-bottom: -12px;
    font-family: 'Concert One', cursive;
    color: #333;
  }
  
  .drink-options {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-right: 57px;
  }
  
  
  .drink-option img {
    max-width: 50%;
    border-radius: 10px;
  }
  #drink2{
    margin-left: 50px;
  }
  .drink-option p {
    margin-top: -150px;
    margin-left: -205px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  


  .center-photo-container {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .center-photo {
    max-width: 100%;
  }
  
  .center-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #013B23;
  }
  

  .corner-photo {
    position: fixed;
    max-width: 1000px;
    z-index: -1;
  }
  
  .top-left {
    top: 0;
    left: 0;
    transform: translate(-395px, -84px);
  }
  
  .top-right {
    top: 0;
    right: 0;
    transform: translate(419px, -200px);
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-432px, 214px);
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(373px, 153px);
  }
  
  .center-photo {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    z-index: -1;
  }



  .bottom-image {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    
  }

.bottom-image img {
  max-width: 44%;
  max-height: auto;
  margin-right: 27px;
  margin-bottom: -40px;
}


